.justify-start {
	justify-content: end !important;
}
.justify-center {
	justify-content: center !important;
}
.justify-end {
	justify-content: end !important;
}

.align-start {
	align-items: start !important ;
}
.align-center {
	align-items: center !important;
}
.align-end {
	align-items: end !important;
}

.text-start {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-end {
	text-align: right !important;
}

.d-none {
	display: none;
}
