*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

table {
	border-collapse: collapse;
	width: 100%;
}

iframe,
video {
	max-width: 100%;
	display: block;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: var(--color-bg);
}
